/* reset styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}
h1 {
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
.page {
  position: relative;
  min-height: 100vh;
}
.wrap {
  padding-bottom: 180px;
}
