.footer {
  position: relative;
  margin-top: -12em;
  &::before {
    content: "";
    background-image: linear-gradient(45deg, $secondary, $quaternary);
    clip-path: polygon(0 35%, 100% 0%, 100% 100%, 0% 100%);
    height: 10em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
}
